.topNav {
  background-color: #ffffff;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 15px;
  align-content: space-around;
  width: 100%;
  border-bottom: 1px solid black;
}

.topNav__date {
  flex: 1;
  color: #8f2e49;
  background-color: #ffffff;
}

.topNav__linkAnchor {
  color: #8f2e49;
  text-decoration: none;
  padding: 50px;
}

.topNav__linkAnchor:hover {
  font-weight: 500;
}
